.main_content {
    width: 100%;
}

.main_header {
    width: 100%;
}

.main_carousel {
    width: 100%;
    background-color: #f7f6f6;
}

.main_notification_bar {
    width: 100%;
    background-color: #f7f6f6;
}

.main_notification_panel {
    width: 100%;
}

.main_deals {
    width: 100%;
    background-color: #f7f6f6;
}

.main_discounts {
    width: 100%;
    background-color: #f7f6f6;
}

.main_offers {
    width: 100%;
    background-color: #f7f6f6;
}

.main_video {
    width: 100%;
    background-color: #f7f6f6;
}

.main_shop {
    width: 100% !important;
    background-color: #f7f6f6;
}

.main_reviewes {
    width: 100% !important;
    margin: 0 !important;
    background-image: url("https://images.unsplash.com/photo-1585773816589-99af4e1711c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1523&q=80");
}

.main_contact {
    width: 100% !important;
    margin: 0 !important;
}

.main_footer {
    width: 100%;
    Color: #f7f6f6;
    background-color: #060500;
}