.notificationbar_main {
    font-family: "Holtwood One SC";
    height: 5% !important;
    padding: 1%;
    font-weight: 600;
    font-size: x-large;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}


@media only screen and (max-width: 600px) {
    .notificationbar_main {
        height: 50px;
        font-weight: 800;
        font-size: 100%;
        display: flex;
        text-align: justify;
        text-justify: inter-word;
    }
}