.review_wrapper {
    height: auto;
    padding: 1%;
    height: 350px;
}

.profile_image {
    width: 205px;
    height: 205px;
    border-radius: 5%;
    opacity: 0.7;
}

.review_static_text_p1 {
    font-family: "Rammetto One";
    color: red;
    font-size: 40px;
    line-height: 30px;
    font-weight: 800;
    text-align: center !important;
    padding: 1%;
    letter-spacing: 11px !important;
    text-transform: uppercase;
}

.review_image {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.profile_image_text {
    font-family: "Rammetto One";
}

.review_text {
    padding: 1%;
    display: flex !important;
    width: 50% !important;
    font-size: 25px;
    font-family: "Rammetto One";
    font-weight: 500;
    color: whitesmoke !important;
}

.profile_image_wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.review_static_text {
    font-family: "Rammetto One";
    width: 50% !important;
    height: 5%;
    font-size: 25px;
    color: whitesmoke !important;
    text-align: justify !important;
    text-justify: inter-word !important;

}

.review_text_p {
    text-align: justify !important;
    text-justify: inter-word !important;
}

.text_wrapper {
    display: flex;
    gap: 20px;
}

.profile_image_text {
    font-size: 25px;
    color: whitesmoke !important;
}