.video_panel_wrapper {
    width: 100% !important;
    height: 700px;

    ::after {
        clear: both;
        content: '';
    }
}

.video_panel_Background {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: center !important;
    margin: auto !important;
    flex-wrap: wrap !important;

    ::after {
        clear: both;
        content: '';
    }
}

.video {
    padding: 1%;
    width: 1000px !important;
    height: 500px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.video_panel_header {
    text-align: center;
    text-justify: inter-word;
    padding: 1%;
    font-size: 45px;
    font-weight: 700;
    font-family: "Holtwood One SC";
}


@media only screen and (max-width: 600px) {
    .video_panel_header {
        // font-size: 5px;
        margin: 2%;
    }

    .video {
        width: auto !important;
        height: auto !important;
        padding: 0px !important;
        margin: 0px !important;
    }
}

@media only screen and (max-width: 900px) {
    .video_panel_header {
        font-size: 25px;
        padding: 3%;
        font-weight: 800 !important;
    }

    .video {
        width: auto !important;
        height: auto !important;
        padding: 0px !important;
        margin: 0px !important;
    }

}