body {
  font-family: 'Kumbh Sans', sans-serif;
  box-sizing: border-box;
  color: #212529;
  background: #fff;
  /* background-color: #f7f6f6; */
  /* -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; */
}